@model Course

@{
	Layout = "_Create";
	ViewData["Caption"] = "Course";
}

<div class="form-group">
	<label asp-for="CourseID" class="control-label"></label>
	<input asp-for="CourseID" class="form-control" />
	<span asp-validation-for="CourseID" class="text-danger"></span>
</div>

<partial name="_EditCourse" model="@Model" />
