@model Course

@{
	Layout = "_Edit";
	ViewData["Caption"] = "Course";
}

<input type="hidden" asp-for="CourseID" />
<div class="form-group">
	<label asp-for="CourseID" class="control-label"></label>
	<div>@Html.DisplayFor(model => model.CourseID)</div>
</div>

<partial name="_EditCourse" model="@Model" />
