@model IEnumerable<Course>
@using Contoso.Pages.HtmlHelpers
@using Contoso.Pages.Constants
@using System.Linq.Expressions;

@{
    ViewData[Data.Title] = "Courses";
    var columns = new Dictionary<string, Expression<Func<Course, dynamic>>>{
        {nameof(Course.ID), x => x.ID },
        {nameof(Course.Title),x => x.Title },
        {nameof(Course.Credits),x => x.Credits },
        {nameof(Course.Department),x => x.Department.Name} };
    dynamic getId(Course c) => c.ID;
}

<h1>Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@Html.ViewList(Model, columns, getId)