@model Department
@using Contoso.Pages.Constants
@using Contoso.Pages.HtmlHelpers

@{
	ViewData[Data.Title] = nameof(Department);
	Layout = Layouts.Create;
}

<partial name="_EditDepartments" model="@Model" />

<div class="form-group">
	<label asp-for="InstructorID" class="control-label"></label>
	<select asp-for="InstructorID" class="form-control" asp-items="ViewBag.InstructorID">
		<option value="">-- Select Administrator --</option>
	</select>
</div>