@model Department

@{
	Layout = "_Edit";
	ViewData["Caption"] = "Department";
}

<input type="hidden" asp-for="DepartmentID" />
<input type="hidden" asp-for="RowVersion" />

<partial name="_EditCourse" model="@Model" />

<div class="form-group">
	<label asp-for="InstructorID" class="control-label"></label>
	<select asp-for="InstructorID" class="form-control" asp-items="ViewBag.InstructorID">
		<option value="">-- Select Administrator --</option>
	</select>
	<span asp-validation-for="InstructorID" class="text-danger"></span>
</div>
