@using Contoso.Pages.Constants;
@using Contoso.Pages.HtmlHelpers;
@using System.Linq.Expressions;
@model IEnumerable<EnrollmentDateGroup>

@{
    ViewData[Datas.Title] = Texts.StudentBodyStatistics;
}
<h2>@ViewData[Datas.Title]</h2>

<table>
    <tr>
        <th>Enrollment Year |</th>
        <th>Students</th>
    </tr>
    @foreach (var item in Model)
    {
             <tr>
                <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate.Year)
                </td>
                <td>
                @item.StudentCount
                </td>
            </tr>
    }
</table>