@using Contoso.Pages.Constants;
@{
    ViewData[Data.Title] = Texts.HomePage;
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contoso</h1>
    <p>This is a sample of building Web apps with ASP.NET Core</p>
</div>